* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.first input {
  width: 300px;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.18),
    -4px -4px 5px 0px rgba(0, 0, 0, 0.18);
  font-size: 1.2rem;
}

.first button {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 1.4rem;
  border: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  outline: none;
}
.first button:hover {
  color: #ffffff;
  background-color: #000000;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0%;
}
.ingredients {
  text-align: center;
  width: 300px;
  height: 250px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.18),
    -4px -4px 8px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  transition: 0.5s;
}

.ingredients:hover {
  width: 320px;
  height: 300px;
}

.image {
  width: 170px;
  height: 150px;
  border-radius: 5px;
  margin: 10px;
  transition: all ease 0.3s;
}

.ingredients:hover .image {
  width: 100px;
  height: 80px;
}
.steps {
  overflow-y: auto;
  font-size: 14px;
  position: relative;
  top: 10px;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}

.ingredients:hover .steps {
  visibility: initial;
  top: 0px;
  opacity: 1;
}
